body {
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.content_wrapper {
  width: 90%;
  min-height: 80%;
  background-color: transparent;
  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  border: 1px solid black;
}

.add_product_button {
  margin-top: 40px;
  padding: 10px;
}